<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Bookmarkyo</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
    <h1>
        :)
    </h1>
    <main>
        {{#list db}}
        <a href="{{url}}">{{label}}</a>
        {{/list}}
    </main>
</body>
</html>
